doctype html
html
  head
    link(href='//fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet')
    link(href='//fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='/stylesheets/fonts.css' rel='stylesheet')
    title= title
  body
    block content
